
<div *ngIf="ingredient">
    <h2><span>Ingredient</span> {{ingredient.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Name</span></dt>
        <dd>
            <span>{{ingredient.name}}</span>
        </dd>
        <dt><span>Unit Of Measure</span></dt>
        <dd>
            <span>{{ingredient.unit_of_measure}}</span>
        </dd>
        <dt><span>Quantity</span></dt>
        <dd>
            <span>{{ingredient.quantity}}</span>
        </dd>
        <dt><span>Weight</span></dt>
        <dd>
            <span>{{ingredient.weight}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'ingredient/'+ ingredient.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
